/**
    input 框公共样式
*/
.ant-input260{
    & .ant-input{
        width: 260px!important;
    }
}
.ant-input200{
    & .ant-input{
        width: 200px!important;
    }
}
.ant-input160{
    & .ant-input{
        width: 160px!important;
    }
}